li.form1Li {
    background-color: rgb(0, 60, 255);
    width: 125px;
    max-width: 250px;
    list-style-type: none;
    text-align: center;
    transition: 0.34s ease-in-out;
}

li.form1Li:hover {
    background-color: crimson;
    width: 250px;
}