div#app {
    background-color: aqua;
    float: left;
    border-radius: 10px;
    border-style: solid;

    max-width: 70%;
    min-width: 50%;
    max-height: max-content;

    align-items: center;
    position: absolute;

    padding: 12px;
    margin-left: 15%;

    border-top-width: 2px;
    border-right-width: 4px;
    border-bottom-width: 3px;
    border-left-width: 3px;

    border-left-color: aliceblue;
    border-top-color: aliceblue;
    border-bottom-color: #1fc0ff;
    border-right-color: #1fc0ff;

    font-size: xx-large;
}

input#form1Input {
    padding: 12px;
    font-size: x-large;
}

button#form1Button {
    background-color: aqua;
    border-radius: 7px;
    transition: 0.2s;
    font-size: xx-large;
}

button#form1Button:hover {
    background-color: rgba(0, 0, 255, 0.671);
    color: aliceblue;
    border-radius: 7px;
}

button#form1Button:active {
    background-color: rgba(0, 0, 255);
    border-radius: 50px;
}

li {
    list-style-type: none;
    background-attachment: fixed;
    transition: 0.2s;
    position: sticky;

    padding: 10px;
    margin: 5px;
    border-style: double;

    font-size: xx-large;
    color: rgb(18, 14, 83);
    float: left;

}

li:hover {
    background-color: rgba(0, 0, 255, 0.671);
    color: azure;
    border-style: dashed;
    border-radius: 20px;
    border-color:  crimson;

}

li:active {
    background-color: crimson;
    border: none;
}